@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import './color';
@import './mixin';
@import './products';
@import './clients-testimonial';
@import './gallery';
@import './ending';
/** 
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;*/
body {
    min-height: 100vh;
    width: 100%;
    // background-color: indianred;
}

.root {
    min-height: 100vh;
    overflow-x: hidden;
    .land-page {
        min-height: 105vh;
        background-image: url(./../images/desktop/image-header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .hero {
            .compass {
                width: 40%;
                a {
                    color: $White;
                    @include typo("1");
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.562);
                    }
                }
            }
        }
        .hero-text {
            margin-top: 100px;
            @include typo("2");
            font-size: 50px;
            letter-spacing: 5px;
            font-weight: 900;
            &::after {
                content: url(./../images/icon-arrow-down.svg);
                position: absolute;
                top: 150px;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }
}

//media quiery
@media screen and (max-width: 600px) {
    .root {
        // min-height: 100vh;
        .land-page {
            min-height: 90vh;
            background-image: url(./../images/mobile/image-header.jpg);
            // background-size: cover;
            // background-repeat: no-repeat;
            // background-position: center;
            .hero {
                .compass {
                    display: none;
                    position: absolute;
                    z-index: 10;
                    width: 80%;
                    min-height: 200px;
                    padding: 10px 0;
                    background-color: $White;
                    top: 150px;
                    a {
                        color: $Dark-moderate-cyan-footer;
                        width: 30%;
                        margin: 0 auto;
                        &:hover {
                            background-color: $Yellow;

                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        border: 20px solid;
                        border-left-color: transparent;
                        border-right-color: $White;
                        border-bottom-color: $White;
                        border-top-color: transparent;
                        top: -30px;
                        right: 0;
                    }
                    &.show {
                        display: block;
                    }
                }
            }
            .hero-text {
                margin-top: 40px;
                font-size: 10vw;
                &::after {
                    // content: url(./../images/icon-arrow-down.svg);
                    // position: absolute;
                    top: 200px;
                    // left: 50%;
                    // transform: translate(-50%);
                }
            }
        }
    }
}